.App {
  text-align: center;
}

.card-container{
  background-color: rgb(32, 32, 32);
  color: white;
  margin: 2rem;
  border-radius: 5%;
  padding-bottom: 1.5rem;
}
form{
  padding: 1.5rem;
  text-align: center;
  
}
input{
  display: block;
  width: 80vw;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 6%;
  margin-bottom: 1rem;

}
.btn{
  background-color: rgb(7, 170, 7);
}
.btn2{
  background-color: rgb(7, 170, 7);
  margin-left: 20%;
  
}